<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0"
             xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
  http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">

    <persistence-unit name="wetravelsouthcontrollersPU" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <class>com.focuslabs.wts.entity.City</class>
        <class>com.focuslabs.wts.entity.Country</class>
        <class>com.focuslabs.wts.entity.Event</class>
        <class>com.focuslabs.wts.entity.EventMaterial</class>
        <class>com.focuslabs.wts.entity.Local</class>
        <class>com.focuslabs.wts.entity.Message</class>
        <class>com.focuslabs.wts.entity.Notification</class>
        <class>com.focuslabs.wts.entity.Post</class>
        <class>com.focuslabs.wts.entity.PostMedia</class>
        <class>com.focuslabs.wts.entity.Relationship</class>
        <class>com.focuslabs.wts.entity.Traveler</class>
        <class>com.focuslabs.wts.entity.WhereAbout</class>
        <properties>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect" />
        </properties>
    </persistence-unit>

</persistence>